@CHARSET "UTF-8";
body,p,form,h1,h2,h3,ul,li,dl,dt,dd{
	margin:0;
	padding:0;
}
a{
	cursor:pointer;
}
img{
	display:block;
	border:none;
}
body{
	font-size:12px;
	width:100%;
	margin:0 auto;
	font-family: "Microsoft YaHei","微软雅黑","MicrosoftJhengHei";
	color:#353535;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
label.error,.red{
	color:red;	
}
span.succ{
	background:url(../images/succ.png) no-repeat 2px center;
	display:inline-block;
	width:20px;
}
.green{
	color:green;
}
/*头部*/
#header{
	width:1200px;
	height: 90px;
	margin:30px auto;
	text-align: center;
	position: relative;
}
#header span.tel{
	display: block;
	font-size: 24px;
	color:#353535;
	position: absolute;
	top:6px;
	left: 0;
}
#header span.tel em.tel_ico{
	display: inline-block;
	margin: 5px 10px 0 0;
	width:24px;
	height: 23px;
	background: url(../images/phone_cat.jpg) no-repeat 0 -30px;
}
#header h1{
	width:200px;
	height:60px;
	margin:0 auto;
	font-size:12px;
}
#header h1 a{
	display:block;	
}
#header p{
	position: absolute;
	top:0;
	right:0;
	line-height: 40px;
}
#header p a{
	display:inline-block;
	padding:0 4px;
	color:#353535;
}
#header p a i.cat{
	display: inline-block;
	width:24px;
	height: 27px;
	vertical-align: -6px;
	background: url(../images/phone_cat.jpg) no-repeat -1px 0;
}
#header p strong{
	color: #ff0000;
	font-style: normal;
}
#header .header_search{
	position: absolute;
	bottom:-10px;
	right:0;
}
#header .header_search input[type="text"]{
	border:1px solid #ccc;
	background: #fff;
	border-radius: 4px;
	width:250px;
	height: 16px;
	padding:6px;
	padding-left: 4px;
}
#header .header_search input[type="text"]:focus{
	border:1px solid #353535;
}
#header .header_search input[type="submit"]{
	width:28px;
	height: 28px;
	border:none;
	background: url(../images/search_zoom.png) no-repeat left center;
	position: absolute;
	top:0;
	right:0;
	cursor:pointer;
}
/*导航*/
#nav{
	width:1200px;
	margin:0 auto 10px;
	height:40px;
}
#nav ul{
	height:40px;
}
#nav ul li{
	height:40px;
	width:100px;
	float:left;
	display:block;
}
#nav ul li a{
	height:40px;
	line-height:40px;
	width:80px;
	display:block;
	text-align:center;
	color:#353535;
	font-size: 14px;
}
#nav ul li a:hover,#nav ul li a.selected{
	background:#353535;
	color:#fff;
	border-radius:2px;
}

#search {
	height:36px;
	border:1px solid #5CB4E6;
	background:url(../images/search_bgline.png);
}
#search form{
	padding:6px 0 0 550px;
}
#search a{
	color:#fff;	
}
#search a:hover{
	text-decoration:underline;
}
#page{
	display:block;
	clear:both;
	padding:10px 0;
	font-size:14px;
	text-align:center;
}
#page a,#page span.disable{
	border:1px solid #666;
	padding:2px 5px;
	margin:0 2px;
	color: #fff;
	background: #666;
}
#page span.disable{
	border:1px solid #999;
	color:#999;
	background: #fff;
}
#page a:hover,#page a.index{
	background:#ec5e72;
	color:#fff;
	text-decoration:none;
}
#page select optgroup label{
	font-style:normal;
}
#sait{
	width:1180px;
	margin:0 auto;
	height:36px;
	line-height:36px;
	border-top:none;
	background: url(../images/weizhi.png)no-repeat left center;
	padding-left:20px;
}
#sait a{
	color:#0b235f;
}
#blackHead{
	width:100%;
	height: 70px;
	background:rgba(53, 53, 53, 0.9)!important;
    background:#353535; 
    filter:Alpha(opacity=90);/*　使用IE专属滤镜实现IE背景透明*/
    text-align: center;
    display: none;
    position: fixed;
    top:0;
    z-index:999999;
}
#blackHead .inner_top{
	width:1200px;
	height: 70px;
	line-height: 70px;
	margin:0 auto;
	text-align: center;
	 position: relative;
}
#blackHead span.tel{
	display: block;
	font-size: 24px;
	color:#f2f2f2;
	position: absolute;
	top:0;
	left: 0;
}
#blackHead span.tel em.tel_ico{
	display: inline-block;
	margin: 5px 10px 0 0;
	width:24px;
	height: 23px;
	background: url(../images/phone_cart.png) no-repeat 0 -36px;
}
#blackHead h1{
	width:500px;
	height:60px;
	margin:0 auto;
	font-size:12px;
}
#blackHead h1 a{
	display:inline-block;	
}
#blackHead h1 form{
	display: inline-block;
	line-height: 30px;
	vertical-align: 14px;
	width:225px;
	position: relative;
}

#blackHead h1 form input[type="text"]{
	background: none;
	border:1px solid #ccc;
	padding:6px;
	border-radius: 4px;
	width:200px;
	margin-left: 10px;
	color: #f2f2f2;
}
#blackHead h1 form input[type="submit"]{
	position: absolute;
	top:0;
	right:0;
	width:28px;
	height: 28px;
	border:none;
	background: url(../images/search_zoom.png) no-repeat left center;
	cursor:pointer;

}
#blackHead h1 img{
	padding-top:6px;
}
#blackHead .inner_top p{
	position: absolute;
	top:0;
	right:0;
	color: #fff;
	font-size: 14px;
}
#blackHead .inner_top p a{
	color: #fff;
	font-size: 14px;
}
#blackHead p i.cat{
	display: inline-block;
	width:24px;
	height: 27px;
	vertical-align: -6px;
	background: url(../images/phone_cart.png) no-repeat -1px 0;
}
#blackHead p strong{
	color: #ff0000;
	font-style: normal;
}

#footer{
	padding:20px;
	clear:both;
	text-align:center;
	background:rgba(53, 53, 53, 0.9)!important;
    background:#353535; 
    filter:Alpha(opacity=90);/*　使用IE专属滤镜实现IE背景透明*/
	margin-top:20px;
}
#footer p{
	padding:5px 0;
	color: #fff;
}
#footer p a{
	color: #fff;
}
#footer .box{
	width:1140px;
	margin:0 auto;
	padding: 10px 30px 10px;
	border-bottom: 2px solid #fff;
	margin-bottom: 10px;
	background:url(../images/report2.png) no-repeat left center;
	cursor:pointer;
}


