@CHARSET "UTF-8";
#sidebar{
	width:200px;
	height:600px;
	float:left;
	margin:10px 0 0 0;
	
}
#sidebar h2{
	height:34px;
	line-height:34px;
	background:url(../images/h2_bg.png);
	text-indent:25px;
	color:#56A5EE;
	font-size:12px;
}
#sidebar div{
	margin:0 0 10px 0;
}
#sidebar div.box{
	border:1px solid #C5E4FF;
	padding:10px;
}
#sidebar div.cart{
	border:10px solid #c7e5ff;
	padding:10px;
	background:#f0fbff;
}
.red{
	color:red;
}
#sidebar ul{
	padding:10px;
	background:red;
}
#sidebar ul li{
	float:left;
}
#sidebar dl{
	padding:10px;
}
#sidebar dl dt img{
	display:block;
	margin:0 auto;
	border:1px solid #ccc;
}
#sidebar dl dd{
	padding:5px 0 0 5px;
}
#sidebar dl dd.price{
	color:gray;
	text-align:center;
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;
}
#sidebar dl dd.title a{
	color:#666;
}
#sidebar dl dd.title a:hover{
	text-decoration:underline;
}
/*#main {
	float:right;
	margin:10px 0 0 0;
	width:785px;
}
#main div.advert{
	width:783px;
	height:153px;
}
#main h2{
	height:34px;
	line-height:34px;
	background:url(../images/list_h2_bg.png) repeat-x;
	text-indent:25px;
	color:#56A5EE;
	font-size:12px;
}
#main div{
	margin-bottom:10px;
}
#main div.pro_list{
	border:1px solid #C5E4FF;
	padding:0 0 30px 0;
}
#main dl {
	width:224px;
	padding:15px 0 0 24px;
	display:inline-block;
}	
#main dl dt{
	width:224px;
	border:1px solid #C5E4FF;
}	
#main dl dt img{
	margin:2px 0 0 2px;
}
#main dl dd{
	padding:5px 0;
}
#main dl dd strong{
	font-size:14px;
	font-family:Tahoma;
	color:red;
}	
#main dl dd del{
	color:#999;
}	
#main dl dd.title a{
	font-size:14px;
	color:#026ACB;
}	
#main dl dd.title a:hover{
	text-decoration:underline;
}
#main div.brand{
	border:1px solid #C5E4FF;
}
#main div.brand ul{
	padding:15px;
}
#main div.brand ul li{
	display:inline-block;
	
}
#main div.brand ul li a{
	padding:5px 3px;
	color:maroon;
	border:1px solid #ccc;
}
#main div.brand ul li a:hover{
	background:lightgreen;
	color:#FFF;
}*/
p.clear{
	clear:both;
}



#banner{
	width:783px;
	height:153px;
	position:relative;
	overflow:hidden;
	background: #abcdef;
}
#banner img{
	display:block;
	width:783px;
	height:153px;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
#banner ul{
	position:absolute;
	top:131px;
	left:620px;	
	z-index:4;
	list-style-type: none;
}
#banner ul li{
	float:left;
	padding:0 5px;
	font-size:16px;
	color:#999;
	cursor:pointer;
}
#banner span{
	width:783px;
	height:25px;
	position:absolute;
	top:128px;
	left:0;
	background:#333;
	opacity:0.3;
	filter:alpha(opacity=30);
	z-index:3;
}
#banner strong{
	position:absolute;
	top:134px;
	left:10px;
	color:#fff;
	z-index:4;
}
/*huahua*/
/*大的轮播图*/
#HP_carousel .icon, .scroll-box .btns .switcher li {
    background-image: url("http://ostatic.theoutnet.cn/skin/frontend/shouke/cosmo_ton/css/img/logo.png");
    background-repeat: no-repeat;
}
.scroll-box {
    height: 530px;
    margin: 0 auto 40px;
    position: relative;
    width: 1438px;
}
.scroll-box .img {
    height: 530px;
    overflow: hidden;
    position: absolute;
    width: 1438px;
}
.scroll-box .slider {
    position: absolute;
    top: 0;
    width: 9999px;
}
.scroll-box .paging {
    background-color: #fff;
    height: 530px;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    width: 239px;
}
.scroll-box .paging .masking {
    display: block;
    height: 530px;
    opacity: 0.8;
    position: absolute;
}
.scroll-box .subpattern {
    right: 0;
}
.scroll-box .btns {
    position: absolute;
    width: 1200px;
    z-index: 10;
}
.scroll-box .btns .icon {
    cursor: pointer;
    display: block;
    height: 53px;
    overflow: hidden;
    position: absolute;
    top: 238px;
    width: 53px;
    z-index: 2999;
}
.scroll-box .btns .prev {
    background-position: 0 -80px;
    left: -10px;
}
.scroll-box .btns .next {
    background-position: 0 -133px;
    right: -10px;
}
.scroll-box .btns .prev:hover {
    background-position: -53px -80px;
    left: -10px;
}
.scroll-box .btns .next:hover {
    background-position: -53px -133px;
    right: -10px;
}
.scroll-box .btns .switcher {
    display: block;
    height: 14px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 545px;
    width: 100px;
}
.scroll-box .btns .switcher li {
    background-position: -260px -40px;
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 14px;
    line-height: 0;
    margin-right: 6px;
    overflow: hidden;
    width: 14px;
}
.scroll-box .btns .switcher li.on {
    background-position: -260px -54px;
}


#HP_carousel {
    height: 530px;
    margin: 0 auto 40px;
    position: relative;
    width: 1200px;
}
#HP_carousel a {
    display: inline;
    float: left;
}
#HP_carousel .img {
    height: 530px;
    overflow: hidden;
    position: absolute;
    width: 1200px;
}
#HP_carousel .img span {
    display: block;
    position: absolute;
    width: 19999px;
}
#HP_carousel .btns {
    position: absolute;
    width: 1200px;
    z-index: 10;
}
#HP_carousel .btns b {
    display: block;
    height: 14px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 555px;
    width: 100px;
}
#HP_carousel .btns b i {
    background: url("http://ostatic.theoutnet.cn/skin/frontend/shouke/cosmo_ton/images/2013/newlanding/HP_carousel_bottom_btn.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    font-size: 0;
    height: 14px;
    margin-right: 6px;
    overflow: hidden;
    width: 14px;
}
#HP_carousel .btns b i.on {
    background-position: 0 bottom;
    cursor: default;
}
#HP_carousel .btns span {
    cursor: pointer;
    display: block;
    height: 53px;
    overflow: hidden;
    position: absolute;
    top: 238px;
    width: 53px;
    z-index: 2999;
}
#HP_carousel .btns span i {
    background: url("http://ostatic.theoutnet.cn/skin/frontend/shouke/cosmo_ton/images/2013/newlanding/HP_carousel_btn.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 106px;
    position: absolute;
    width: 53px;
}
#HP_carousel .btns span i:hover {
    background: url("http://ostatic.theoutnet.cn/skin/frontend/shouke/cosmo_ton/images/2013/newlanding/HP_carousel_btn_hover.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#HP_carousel .btns span.prev {
    left: -10px;
}
#HP_carousel .btns span.next i {
    top: -53px;
}
#HP_carousel .btns span.next {
    right: -10px;
}
#HP_carousel .pattern a {
    float: right;
}
#HP_carousel .masking {
    background: #fff;
    display: block;
    height: 530px;
    opacity: 0.8;
    position: absolute;
}
#HP_carousel .btns span {
    display: block;
}
/*销售排行*/
#sale_num{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
#sale_num h2{
    font-weight: normal;
    font-size: 26px;
}
#sale_num p.short_line{
    width:52px;
    height: 3px;
    background: red;
    margin:10px 0 20px 0;
}
#sale_num .box ul{
    overflow: hidden;
}
#sale_num .box li{
    width:220px;
    padding:10px;
    float: left;
    position: relative;
}
#sale_num li img{
    width:220px;
    height: 280px;
}
#sale_num li .bg_hover{
    position: absolute;
    width:220px;
    height: 280px;
    background:rgba(53, 53, 53, 0.7)!important;
    background:#353535; 
    filter:Alpha(opacity=70);/*　使用IE专属滤镜实现IE背景透明*/
    top:300px;
    left:10px;
}
#sale_num li .bg_hover p{
    color: #f2f2f2;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
}
#sale_num li .bg_hover p.see{
    background: #ec5e72;
    width:108px;
    line-height: 38px;
    text-align: center;
    color:#f2f2f2;
    margin:0 auto;
    cursor:pointer;
}
#sale_num li .bg_hover p.price{
    color: #f2f2f2;
    margin-top:80px;
    font-size: 18px;
}
#sale_num li .bg_hover p a{
    color: #fff;
}
/*换了促销和店家推荐*/
#main{
    width:1200px;
    margin:0 auto;
}
#main h2{
    font-weight: normal;
    font-size: 26px;
    margin-top:14px;
}
#main p.short_line{
    width:52px;
    height: 3px;
    background: red;
    margin:10px 0 20px 0;
}
#main div.pro_list{
    margin-left:-20px;
    width:1220px;
}
#main dl {
    width:260px;
    padding:10px;
    display:inline-block;
    border:1px solid #ddd;
    margin:0 0 20px 20px;
}   
#main dl dt{
    width:260px;
}
#main dl dt img{
    width:260px;
}
#main dl:hover{
    border:1px solid #777;
}
#main dl dd{
    padding:5px 0;
}
#main dl dd strong{
    font-size:16px;
    font-family:Tahoma;
    color:red;
}   
#main dl dd del{
    color:#999;
}  
#main dl dd.price strong{
    color:#555;
} 
#main dl dd.title a{
    font-size:14px;
    color:#555;
}
#main dl dd.commend a{
    color: #555;
} 
#main dl dd.buy a{
    color: #555;
} 
#main dd.buy .now_buy{
    display: inline-block;
    margin-left: 10px;
    width:80px;
    height: 34px;
    line-height: 34px;
    background: #ec5e72;
    text-align: center;
}
#main dd.buy .now_buy a{
    color: #f2f2f2;
}
#main dl dd.title a:hover{
    text-decoration:underline;
}
/*品牌联盟*/
#main div.brand{
    width:1200px;
    margin:0 auto;
}
#main div.brand ul{
    float: left;
    height: 100px
}
#main div.brand ul li{
    width:100px;
    height: 100px;
    float: left; 
    background: #fff;
    margin-right:5px; 
    position: relative;
}
#main div.brand ul li img{
    width:100px;
    position: absolute;
    left:0;
    z-index: 10;
    border:1px solid #ddd;
    background: #fff;
    padding:10px;
}
#main div.brand ul li a{
    display: block;
    color: #fff;

}
