@CHARSET "UTF-8";
#sait{
	border-top:none;
}
#shop_main{
	width:1200px;
	overflow: hidden;
	margin:0 auto;
}
#sidebar{
	width:280px;
	float:left;
	margin:10px 0 0 0;
}
#sidebar h2{
	height:34px;
	line-height:34px;
	background:url(../images/h2_bg2.png)no-repeat 10px center;
	text-indent:25px;
	color:#555;
	font-size:14px;
	border:1px solid #ddd;
	border-bottom: none;
}
#sidebar ul{
	border:1px solid #ddd;
	border-top:none;
	padding:10px 10px 10px 30px;
	margin:0 0 10px 0;
}
#sidebar ul li{
	height:25px;
	line-height:25px;
	background:url(../images/sidebar_line2.jpg) no-repeat left center;
	padding:0 0 0 28px;
}
#sidebar ul li a{
	height:25px;
	line-height:25px;
	display:block;
	color:#333;
	cursor:pointer;
}
#sidebar ul li a:hover{
	color:red;
	text-decoration:underline;
	
}
#sidebar ul li a span{
	color:gray;
}
#sidebar div{
	border:1px solid #ddd;
	border-top:none;
	margin:0 0 10px 0;
}
#sidebar dl{
	padding:10px;
	border-top: 1px solid #ddd;
}
#sidebar dl dt img{
	display:block;
	margin:0 auto;
	width:220px;
	height: 220px;
}
#sidebar dl dd{
	padding:5px 0 0 5px;
}
#sidebar dl dd.price{
	color:gray;
	text-align:center;
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;
}
#sidebar dl dd.title{
	text-align: center;
}
#sidebar dl dd.title a{
	color:#666;
}
#sidebar dl dd.title a:hover{
	text-decoration:underline;
}
#sidebar .clear_all{
	padding:20px;
	text-align:center;
	height: 38px;
}
#sidebar .clear_all a{
	display:block;
	float: right;
	width:100px;
	height:36px;
	line-height:36px;
	text-align:center;
	background:#ec5e72;
	color:#fff;
}
#main{
	width:900px;
	float:right;
	margin:10px 0 0 0;
}
#main h2{
	height:34px;
	line-height:34px;
	background:url(../images/h2_bg2.png)no-repeat 10px center;
	text-indent:25px;
	color:#555;
	font-size:14px;
	border:1px solid #ddd;
}
#main div.filter{
	border:1px solid #ddd;
	border-top:none;
	margin:0 0 10px 0;
}
#main div.filter p{
	padding:12px;
}
#main div.filter p span{
	background:#777;
	color: #fff;
	padding:5px 10px;
}
#main div.filter p a{
	text-decoration:underline;
	color:#555;
	padding:10px;
}
#main div.filter p a:hover{
	color:#ec5e72;
}
#main div.pro_list{
	border-top:none;
	padding:20px 0;
	margin-left:-20px;
    width:920px;
    overflow: hidden;
    padding-left: 3px;
}


#main dl {
    width:260px;
    padding:10px;
    display:inline-block;
    border:1px solid #ddd;
    margin:0 0 20px 20px;
}   
#main dl dt{
    width:260px;
}
#main dl dt img{
    width:260px;
}
#main dl:hover{
    border:1px solid #777;
}
#main dl dd{
    padding:5px 0;
}
#main dl dd a{
	color: #555;
}
#main dl dd strong{
    font-size:16px;
    font-family:Tahoma;
    color:red;
}   
#main dl dd del{
    color:#999;
}  
#main dl dd.price strong{
    color:#555;
} 
#main dl dd.title a{
    font-size:14px;
    color:#555;
}
#main dl dd.commend a{
    color: #555;
} 
#main dl dd.buy a{
    color: #555;
} 
#main dd.buy .now_buy{
    display: inline-block;
    margin-left: 10px;
    width:80px;
    height: 34px;
    line-height: 34px;
    background: #ec5e72;
    text-align: center;
}
#main dd.buy .now_buy a{
    color: #f2f2f2;
}
#main dl dd.title a:hover{
    text-decoration:underline;
    color: #ec5e72;
}

/*#main dl {
	width:224px;
	padding:15px 0 0 24px;
	display:inline-block;
}	
#main dl dt{
	width:224px;
	border:1px solid #C5E4FF;
}	
#main dl dt img{
	margin:2px 0 0 2px;
}
#main dl dd{
	padding:5px 0;
}
#main dl dd strong{
	font-size:14px;
	font-family:Tahoma;
	color:red;
}	
#main dl dd del{
	color:#999;
}	
#main dl dd.title a{
	font-size:14px;
	color:#026ACB;
}	
#main dl dd.title a:hover{
	text-decoration:underline;
}	
#main dl dd.commend{
	text-align:center;
}	
#main dl dd.commend a{
	color:#666;
}	
#main dl dd.commend a:hover{
	text-decoration:underline;
}	
#main dl dd.buy{
	text-align:center;
}
#main dl dd a{
	color:#336699;
}
#main dl dd a:hover{
	text-decoration:underline;
}*/
	
	
	
	
	