@CHARSET "UTF-8";
#sait{
	background:url(../images/sait_bg.png) repeat-x;
	height:36px;
	line-height:36px;
	padding:0 0 0 15px;
	border:1px solid #C5E4FF;
	border-top:none;
}
#sidebar{
	width:200px;
	float:left;
	margin:10px 0 0 0;
}
#sidebar h2{
	height:34px;
	line-height:34px;
	background:url(../images/h2_bg.png) repeat-x;
	text-indent:25px;
	color:#56A5EE;
	font-size:12px;
}
#sidebar ul{
	border:1px solid #C5E4FF;
	border-top:none;
	padding:10px 10px 10px 30px;
	margin:0 0 10px 0;
}
#sidebar ul li{
	height:20px;
	line-height:20px;
	background:url(../images/sidebar_line.png) no-repeat left center;
	padding:0 0 0 25px;
}
#sidebar ul li a{
	height:20px;
	line-height:20px;
	display:block;
	color:#369;
	cursor:pointer;
}
#sidebar ul li a:hover{
	color:#c30;
	text-decoration:underline;
	
}
#sidebar div{
	border:1px solid #C5E4FF;
	border-top:none;
	margin:0 0 10px 0;
}
#main{
	width:785px;
	float:right;	
	margin:10px 0 0 0;
}

#main div.mycommend{
	border:1px solid #C5E4FF;
	border-top:none;
	padding:10px;
}
#main h2{
	height:34px;
	line-height:34px;
	background:url(../images/list_h2_bg.png) repeat-x;
	text-indent:25px;
	color:#56A5EE;
	font-size:12px;
}
#main div.pro_list{
	border:1px solid #C5E4FF;
	padding:0 0 30px 0;
}
#main dl {
	width:224px;
	padding:15px 0 0 24px;
	display:inline-block;
}	
#main dl dt{
	width:224px;
	border:1px solid #C5E4FF;
}	
#main dl dt img{
	margin:2px 0 0 2px;
}
#main dl dd{
	padding:5px 0;
}
#main dl dd strong{
	font-size:14px;
	font-family:Tahoma;
	color:red;
}	
#main dl dd del{
	color:#999;
}	
#main dl dd.title a{
	font-size:14px;
	color:#026ACB;
}	
#main dl dd.title a:hover{
	text-decoration:underline;
}	
#main dl dd.commend{
	text-align:center;
}	
#main dl dd.commend a{
	color:#666;
}	
#main dl dd.commend a:hover{
	text-decoration:underline;
}	
#main dl dd.buy{
	text-align:center;
}
#main dl dd a{
	color:#336699;
}
#main dl dd a:hover{
	text-decoration:underline;
}