@CHARSET "UTF-8";
#main div.commend{
	border:1px solid #C5E4FF;
	border-top:none;
	padding:10px;
}
#main div.filter{
	border:1px solid #C5E4FF;
	margin:0 0 10px 0;
}
#main div.filter p{
	padding:10px;
}
#main div.filter p span{
	background:#C5E4FF;
	padding:5px;
}
#main div.filter p a{
	text-decoration:underline;
	color:#026ACB;
	padding:5px;
}
#main div.filter p a:hover{
	color:#f60;
}
#main div.pro_list{
	border:1px solid #C5E4FF;
	padding:0 0 30px 0;
}
#main a img{
	float:left;
	display:blcok;
}
#main div.commend{
	padding-top:15px;
}
#main div.commend dl {
	padding:0;
	padding-left: 10px;
	float:left;
	width:auto;
	border:none;
}
#main div.commend dl dt{
	color:#333;
	font-weight:bold;
	font-size:14px;
	padding:0 0 10px 0;
}
#main div.commend dd{
	padding:3px;
}
#main div.commend dd.content{
	color:#666;
	padding:10px 0 20px 0;
}		
#main div.commend dd p{
	padding:5px 0;
}
#main div.commend dd span.star{
	color:orange;
}
#main div.commend input[name="star"]{
	vertical-align: -2px;
}
#main div.commend dd textarea{
	width:400px;
	height:100px;
	border:1px solid #ccc;
	padding:5px;
	font-size: 12px;
}
#main p.clear{
	clear:both;
}
#main div.commend input[name="send"]{
    width:80px;
    height: 34px;
    line-height: 34px;
    background: #ec5e72;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
