@CHARSET "UTF-8";
html{
	overflow:hidden;
}
#header{
	height:80px;
	background:#278269;
}
#header p{
	height:53px;
	line-height:53px;
	text-align:right;
	padding:0 20px 0 0;
	background:url(../images/alogo.png) no-repeat left top;
}
#header p {
	color:#fff;
}
#header p a{
	color:#fff;
}
#header p a:hover{
	color:orange;
}
#header ul{
	height:25px;
	line-height:25px;
	background:#80BDCB;
	padding:0 0 0 50px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	
}
#header ul li{
	float:left;
	width:120px;
	border-right:1px solid #333;
	text-align:center;
}
#header ul li.first{
	border-left:1px solid #333;
}
#header ul li a{
	color:#335B64;
	display:block;
	font-weight:bold;
	letter-spacing:2px;
	background:#9CCBD6;
}
#header ul li a:hover{
	background:#80BDCB;
	color:#000;
}
#sidebar{
	width:180px;
	background:#278269;
	float:left;
	height:100%;
}
#sidebar dl{
	width:90%;
	margin:10px auto;
	background:#fff;
}
#sidebar dl dt{
	height:20px;
	line-height:20px;
	text-indent:15px;
	color:#278269;
	background:url(../images/nav1.gif) no-repeat 5px center;
}
#sidebar dl dd a{
	height:20px;
	line-height:20px;
	text-decoration:none;
	display:block;
	color:#278269;
	text-indent:20px;
	background:url(../images/nav2.gif) no-repeat 10px center;
}
#sidebar dl dd a:hover{
	color:#f60;
	text-decoration:underline;
}
#main{	
	float:right;
}
#main iframe{
	width:100%;
	height:100%;
}